
html {
    font-size: 16px;
}

.main-content {
    background-color: #FFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    height: 100%;
     
}



.cert-text{
   position: relative;
   top: 40px;
   font-family: Inter;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 24px;
}

.year-text{
    position: relative;
   top: 40px;
   left: 60%;
   font-family: Inter;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   line-height: 24px;
}

li{
    list-style: none;
}

input{
    background-color: #F8F8F8;
    border: 1px solid #CDCDCD;
    box-sizing: border-box;
    border-radius: 6px;
}
input::placeholder{
    padding-left: 20px;
    font-size: 1.5rem;
}

.resume-cert{
    margin-top: 50px;
}
.first{
    margin-bottom: 20px;
}
div li .span-icon{
    display: inline-block;
    min-width: 130px;
    min-height: 130px;
    border-radius: 6px;
    background-color: #FFFFFF;;
    margin-top: 20px;
    box-sizing: border-box;

}

ion-icon {
    font-size: 64px;
    
  }
  button{
      display: flex;
      justify-content:center ;
      margin-top: 100px;
      text-align:center;
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
      border: none;
      outline: none;
      background: none;
  }
  a{
      text-decoration: none !important;
  }
  .done-btn{
      height: 100%;

  }

  .previous {
    float: right;
    margin-right: 10px;
    width: 250px;
    height: 50px;
    background-color: #FFF;
    color: #216DE0;
    border: 1px solid #216DE0;
    font-size: 1.5rem;
    font-weight: 500;
    outline: none;
    text-align: center;
    border-radius: 6px;
    
   
   
}
    

    .next {
    float: right;
    width: 250px;
    height: 50px;
    background-color: #216DE0;
    border: 1px solid #216DE0;
    color: #FFF;
    outline: none;
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    border-radius: 6px;
   
    
   
}

    .next:hover {
    text-decoration: underline #FFF;
    color: #FFF;
}

  .addmore{
    text-decoration: none;
    float: right; 
    margin-top: 60px; 
    padding-right: 15px;
    border: none;
    background: none;
    box-shadow: none;
    outline: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #216DE0;
}



div li .cert-icon{
    margin-left: 40px;
}

.resume-cert .input-cert{
    width: 502px;
    height: 70px;
}

.year-input{
    width: 204px;
    height: 70px;
    margin-left: 30px;
}
